.announcement {
    & {
        background-color: #1e5bb8;
        border-radius: 10px;
        margin: 20px auto;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        animation: fadeIn 1s;
    }
    .announcement-head {
        font-size: 1.5em;
    }
    .announcement-description {
        font-size: 1.5em;
        width: 80%;
        margin: 0 auto;
    }
}

.none {
    display: none;
}

.block {
    display: block;
}