.footer_page {
    & {
        background-color: rgb(32, 32, 32);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1em;
        display: flex;
    }
}

.footer_brand {
    .logo_font {
        font-size: 1.75em;
        word-spacing: 1px;
    }
}