.goto {
    & {
        font-size: 1.5rem;
        font-family: 'Raleway';
        display: flex;
        transition: 500ms;
        font-weight: 700;
        align-items: center;
        gap: 5px;
    }
    &:hover {
        color: rgb(179, 179, 179);
        transition: 500ms;
        
    }
    .arrow {
        font-size: 1.5rem;
        transition: 500ms;
        transform: translateY(3.5px);
    }
    &:hover .arrow {
        transform: translate(5px, 3.5px);
        transition: 500ms;
    }
}