.navbar {
    & {
        color: white;
        padding: 1em;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        justify-content: center;
        gap: 1em;
    }
    .logo_font {
        font-size: 1.75em;
        word-spacing: 1px;
    }
    ul {
        list-style: none;
        display: flex;
    }
}

.nav_links {
    gap: 1em;
}
.nav_links .link {
    & {
        transition: 500ms;
        font-family: 'Assistant', sans-serif;
    }
    &:hover {
        text-decoration: underline;
    }
}