.navbar {
    & {
        background-color: rgb(32, 32, 32);
        color: white;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    .logo_font {
        font-size: 1.75em;
        word-spacing: 1px;
    }
    ul {
        list-style: none;
        display: flex;
    }
}

.nav_links .link {
    & {
        transition: 500ms;
        font-family: 'Assistant', sans-serif;
    }
    &:hover {
        text-decoration: underline;
    }
}