@font-face {
  font-family: 'Poppins-Logo';
  src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf');
}
@font-face {
  font-family: 'Poppins-Black';
  src: url('/fonts/Poppins-Black.ttf');
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceCodePro-VariableFont_wght.ttf');
}

body {
  & {
    font-family: 'Poppins';
    background-color: rgb(26, 26, 26);
    color: white;
  }
  *{
    margin:0!important;
  }  
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  /* Your existing footer styles */
}