@font-face {
  font-family: 'XB Niloofar';
  src: url('/fonts/XBNiloofar.ttf');
}

@font-face {
  font-family: 'XB NiloofarBd';
  src: url('/fonts/XBNiloofarBd.ttf');
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway.ttf');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* 
.container {
  margin-top: 50px;
  position: fixed;
  width: 100%;
  left: 0;
} */
body {
  /* background-color: rgb(19, 19, 19); */
  font-family: 'DMSans';
  color: white;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transition: 500ms;
  }
  to {
      opacity: 1;
      transition: 500ms;
  }
}