.not-found {
    & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 25px;
        color: #ffffff;
    }
    h1 {
        font-size: 5rem;
        font-family: 'Poppins-Logo';
    }
}

.f-safe {
    & {
        background-color: rgb(39, 39, 39);
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        transition: 500ms;
        border-radius: 5px;
    }
}
.f-safe:hover {
    background-color: rgb(48, 48, 48);
}
