.front_hero {
    background-color: rgb(41, 41, 41);
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.font_hero_slogan {
    & {
        color: white;
        font-size: 2.5em;
        font-weight: 600;
        width: 50%;
        font-family: 'NunitoSans';
    }
    span {
        font-family: 'Exo2';
    }
}

.font_hero_content {
    & {
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .font_hero_text {
        font-family: 'Assistant';
        font-size: 1.2em;
    }
}

.explore {
    & {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 2em;
        flex-direction: column;
        align-items: center;
        background-color: rgb(36, 36, 36);
    }
    .explore_title {
        font-family: 'NunitoSans';
        font-size: 1.5em;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}

.explore_card {
    & {
        background-color: rgb(58, 58, 58);
        padding: 1em;
        border-radius: 10px;
        width: 50%;
        display: flex;
        font-family: 'NunitoSans';
        transition: 600ms;
        flex-direction: column;
        padding-left: 3em;
        border: 2px solid rgb(58, 58, 58);
        gap: 1em;
    }
    .card_body {
        display: none;
    }
    .card_header {
        & {
            display: flex;
            flex-direction: column;    
        }
        .header_btm {
            color: rgb(151, 151, 151);
        }
        .header_top {
            color: white;
            font-family: 'Logo';
            word-spacing: 1px;
            font-size: 2em;
        }
    }
    &:hover {
        & {
            background-color: rgb(51, 51, 51);
            transform: scale(1.05);    
            transition: 500ms;
        }
        .card_body {
            display: block;
            font-family: 'Assistant';
            animation: fadeIn 1s;
            display: flex;
        }
    }
}
.explore_content {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
    min-height: 30vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.services {
    & {
        display: flex;
        gap: 1em;
        padding: 2.5em;
        flex-direction: column;
        background-color: rgb(36, 36, 36);
        justify-content: center;
        align-items: center;
        font-family: 'NunitoSans';

    }
    h2 {
        display: flex;
        gap: 0.5em;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
    }
    a {
        & {
            text-decoration: none;
            color: white;
            background-color: rgb(4, 110, 49);
            padding: 1em;
            border-radius: 10px;    
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
        &:focus {
            background-color: rgb(4, 146, 63);
        }
    }
}