.trust {
    & {
        background-color: rgb(23, 21, 21);
        width: 100%;
        color: white;
        text-align: center;
    }
    h2 {
        font-size: 25px;
    }
    .trust-logos {
        & {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;
            gap: 20px;
        }
        img {
            & {
                width: 100px;
                height: 100px;
                margin: 10px;
            }
        }
        .create-contact {
            & {
                background-color: rgb(19, 19, 19);
                border-radius: 100%;
                width: 20px;
                height: 20px;
                padding: 10px;
                transition: 500ms;
            }
            :hover {
                rotate: 362deg;
                text-size-adjust: 20px;
            }
            .span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        a {
            color: #717171;
            transition: 500ms;
        }
        .tleem-logo {
            & {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 25px;
                text-decoration: none;
            }    
        }
        .tleem-logo:hover {
            color: #fb1212;
        }    

    }
}

.landing {
    & {
        /* background-color: rgb(23, 23, 23); */
        color: white;
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgb(83, 83, 83);
    }
    video {
        & {
            position: absolute;
            width: 100vw;
            height: 60vh;
            z-index: -1;
            left: 0;
            object-fit: cover;
            filter: blur(7px);
        }
    }
    .bg {
        & {
            position: absolute;
            min-width: 100px;
            width: 100%;
            height: 50vh;
            z-index: -1;
            left: 0;
            /* background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/service/main/img_recruit.png'); */
            /* filter: blur(5px); */
        }
    }
    .ft {
        & {
            width: fit-content;
        }
        h1 {
            font-size: 20px;
        }
        p {
            font-family: 'Poppins-SemiBold';
            font-size: 40px;
        }
    }
}